<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer documneto html</title>
</head>
    <link rel="stylesheet" type= "text/css", href="/css/style.css">
    <link rel="stylesheet" href="/css/normalice.css">
<body>
    <h4>Bienvenidos</h4>

    <h1>Sony Movies</h1>

    <h2>Amazing Spider-Man</h2>

    <img class="imagen" src="/img/spiderman.jpg" alt="Mi imagen">
    <strong> " pelicula estrenada en el 2012 "</strong>

    <p class="p1">The Amazing Spider-Man es una película de superhéroes que narra la historia de Peter Parker, un adolescente que adquiere poderes arácnidos tras ser mordido por una araña genéticamente modificada123. Peter busca descubrir el secreto de sus padres, que desaparecieron cuando él era niño, y se enfrenta al Dr. Curt Connors, un científico que se convierte en el Lagarto, un monstruoso enemigo</p>

    <p class="p2">Como la mayoría de los adolescentes de su edad, Peter está intentando descubrir quién es y cómo ha llegado a ser lo que es. En su viaje para atar los cabos de su pasado descubre un secreto que guardaba su padre, un secreto que finalmente dará forma a su destino como Spiderman.</p>

    <ol>
        <li>items 1</li>
        <li>items 2</li>
        <li>items 3</li>
        <li>items 4</li>
        <li>items 5</li>
    </ol>

    <ul>
        <li>items 1</li>
        <li>items 2</li>
        <li>items 3</li>
        <li>items 4</li>
        <li>items 5</li>
</body>
</html>