<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi segundo documento html</title>
</head>
    <link rel="stylesheet" type= "text/css", href="/css/style.css">
    <link rel="stylesheet" href="/css/normalice.css">
<body>
    <article class="contenedor1">
    <h1>Diseño adaptivo</h1>
    <p>Lorem 1 ipsum dolor sit amet consectetur, adipisicing elit. Amet magni sapiente impedit nobis, ducimus reprehenderit voluptatum pariatur itaque atque cum ipsum libero at quas corporis, cumque expedita. Culpa, amet sequi?</p>
    <article class="contenedor3">
        soy un contenedor3
     </article>
</article>
<article class="contenedor2">
    <h1>Diseño adaptivo</h1>
     <p>Lorem 2 ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, alias eveniet! Consequuntur corporis corrupti quibusdam dolor temporibus animi, excepturi explicabo sunt, odit earum voluptatem similique cumque vitae facilis laboriosam dignissimos.</p>
     <article class="contenedor4">
        soy un contenedor4
     </article>
    </article>
</body>
</html>