*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #ebebeb
}
.logo{
    background: #EAC926;
    padding-left: 60px
}
.registro{
    max-width: 90%;
    margin: auto;
    padding-top: 5px;
}

form{
    border: 1px solid rgb(182, 181, 181);
    border-radius: 10px;
    max-width: 460px;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    background: whitesmoke
}
h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(10, 10, 10)
}

.texto{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(10, 10, 10);
}

form label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: rgb(10, 10, 10);
    margin-left: 10px;
}

.texto input{
    outline: none;
    border: none;
    border-bottom:1px solid rgb(10, 10, 10);
    background: none;
    margin-left: 10px;
    width: 90%;
}

  
#foto{
    border-bottom:none
}

.radio{
    display: block;
    margin-left: 10px;
}
.radio label{
    margin-left: 0;
    
}
#Vender, #Comprar{
    margin-right: 10px;
}

.checkbox{
    display: block;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(10, 10, 10);
}
.checkbox label{
    margin-left: 0;
    
}
#Electro, #Moda, #Hogar, #Juguetería, #Vida{
    margin-right: 10px;
    color: rgb(10, 10, 10)
}
.radio{
    font-size: 16px;
    color: rgb(10, 10, 10);
}

.terminos label {
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.terminos{
    display: flex;
    margin-left: 0;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones button{
    margin-right: 10px;
    padding-right: 8px;
    padding-left: 8px;
}



