.imagen{
    width: 230px;
    height: 230px;
}
body{
    background-color: black;
    color: white;
    font-size: 13px;
    font-family: sans-serif
}
.p1 strong{
    text-align: justify;
}
.p2 strong{
    text-align: justify;
}
strong{
    color:aqua
}

p strong{
    background-color: white;
    color:orangered
}

.p2{
    color:aqua
}

p em{
    color: white;
    font-style: italic;
    font-size: 15px;
}

body{
    background-color: white;
}
.contenedor1{
    width: 80%;
    background-color: red;
    color: white;
    border: solid 5px black;
    padding: 15px;
    margin: auto
}
.contenedor2{
    width: 80%;
    background-color: blue;
    color: white;
    border: solid 5px green;
    padding: 15px;
    margin: auto;
}
.contenedor3{
    background-color: green;
    color: white;
    border: solid 5px black;
    padding: 15px;
    box-sizing: border-box;
}
.contenedor4{
    background-color: red;
    color: white;
    border: solid 5px black;
    padding: 15px;
    box-sizing: border-box
}

@media (max-width: 560px){
    .contenedor1{
        background-color: aqua;
        color:black; 
}
    }

@media (min-width: 560px){
        .contenedor2{
            background-color: green;
            color:white; 
    }
        }

* {
    box-sizing: border-box;
}

body{
    font-family: roboto;
    color:black
}