* {
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 'roboto', sans-serif;
    background-color: #C0C0C0;
    background-image: url(/img/fondo.jpg);
}
.main-header{
    display: block;
    background-color: #EAC926;
    padding: 10px
}
.main-header-top-bar{
    width: 160px;
    position: relative;
    right: -10%;
}

.copy-header{
    display: flex;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    vertical-align: middle;
    line-height: 25px;
    position: absolute;
    top:10px;
    right: -600%;
}
.hamburguer-button{
    display: none;
}
.copy-header .fa-solid.fa-hand-holding-dollar{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: -30px;
}
.main-navbar .fa-solid.fa-address-card{
    font-size: 12px;
}
.main-navbar .fa-right-to-bracket{
    font-size: 12px;
}
.main-navbar .fa-solid.fa-basket-shopping{
    font-size: 12px;
}
.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    padding-right: 20px;
}

ul.left-bar{
    display: flex;
   position: relative;
   bottom: -10px;
   left: 8.5%;
   margin: 0 20px;

}
ul.right-bar{
    display: flex;
   position: absolute;
   right: 115px;
   top: 68px;
   margin: 0 10px;
}

.buscador-form {
    margin: 20px;
    display: flex;
    position: relative;
    width: 41%;
    position:absolute;
    top: -1%;
    right: 32%
}

.buscador-form input[type="search"] {
    border: none;
    flex-grow: 1;
    height: 36px;
}

.buscador-form button.boton-busqueda {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #222222;
    padding: 0;
    margin: 0;
}


/*.main-header{
    background-color: #EAC926;
    padding: 20px
}

.hamburguer-buttom{
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.logo{
    width: 200px;
}

.copy-header{
    font-weight: 400;
    text-align: center;
    color: #222222;
    font-weight: bold;
}

.main-navbar{
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}*/
