.imagen{
    width: 230px;
    height: 230px;
}
body{
    background-color: black;
    color: white;
    font-size: 13px;
    font-family: sans-serif
}
.p1 strong{
    text-align: justify;
}
.p2 strong{
    text-align: justify;
}
strong{
    color:aqua
}