body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #03264C;
}

form {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

form input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
}

form button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    color: #03264C;
}

.burger-menu {
    display: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #666;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

footer h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.fa {
    font-size: 2em;
    margin-bottom: 10px;
}
