body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 2px;
    list-style-type: none;
    cursor: pointer;
    color: #03264C;
}

ul li a {
    text-decoration: none;
    color: #03264C;
}

form {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

form input {
    border: none;
    outline: none;
    font-size: 16px;
}
.fa-hand-holding-dollar{
    position: relative;
    border-top: -50px;
    top: -2px;
}
form button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    color: #03264C;
}

.burger-menu{
    background-color:#1259c3;
    width: 35px;
    height: 34px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 4px;
    align-self: center;
}
.burger-menu i{
    color: #FFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
}

section img{
    display: flex;
    padding: 10px;
    align-items: center;
}
.banner{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section div{
    margin-bottom: 10px;
    padding: 30px;
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    text-align: start;
    line-height: 0px;
}

footer {
    background-color: #666;
    color: #FFF;
    text-align: center;
    padding: 20px;
}

footer h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.fa {
    font-size: 2em;
    margin-bottom: 10px;
}
#ofertas{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#visita{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section p{
    font-size: 18px;
}
section h4{
    font-size: 16px;
}
strong{
    font-size: 16px;
    color: #39b54a;
    padding: 10px;
}


