*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header{
    background-color: #EAC926;
    height: 300px;
}
#miButton{
    border: none;
    cursor: pointer;
}
#visitas{
    font-size: 24px;
}
.descripciones{
    font-size: 16px;
}
.hamburguer-button{
    color: white;
    font-size: 24px;
    position: relative;
    top: 5px;
    bottom: 45px;
}
.caja{
    background-color: #1259c3;
    width: 13%;
    height: 13%;
    border-radius: 10%;
    position: relative;
    left: 43%;
}


section{
    text-align: center;
    font-size: 150%;
}
p{
    position: relative;
    top: 140px;
    bottom: 1px;
    text-align: start;
    right: -10px;
}
#cafetera{
    position: relative;
    top:80px;
    bottom: 3px;
}
div{
    background-color: white;
    color:black;
    text-align: center;
    width: 90%;
    height: 450px;
    position: relative;
    left: 5%;
    font-size: 80%;
}
strong{
    color: #39b54a;
}
h4{
    position: relative;
    top: 150px;
    bottom: 1px;
    text-align: start;
    right: -10px;
}




