<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Micro Desafio</title>
</head>
<body>
    <header>
        <img src="img/mercadoliebre.svg" alt="logo" width="200">
        <br>
        <form action="" method="post">
        <input type="text" name="buscar" placeholder="  Buscar">
        <button type="submit" name="enviar"></button>
    </form>
    <br>
        <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        <br>
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresa </a></li>
            <li><a href="#">Mis compras </i></a></li>
        </ul>
    </nav>
    </header>
    <img src="/img/banner.jpg" alt="banner" width="300">
    <main>
        <br>
        <section>
            <h4>Basado en tu última visita</h4>
            <br>
        <div>
            <img src="/img/cafetera.jpg" alt="cafetera" width="240">
            <p>$6.770     &nbsp;<strong>40% OFF</strong></p>
            <h4>Cafetera Moulinex</h4>
            <br>
        </div>
        <br>
    <div>  
            <img src="/img/macbook.jpg" alt="macbook" width="200">
            <p>$230.000   &nbsp;<strong>20% off</strong></p>
            <h4>MacBook Pro 2019</h4>
            <br>
        </div>
        <br>
    <div>
            <img src="/img/s10.jpg" alt="s10" width="200">
            <p>$70.500   &nbsp;<strong>10%off</strong></p>
            <h4>Samsung Galaxy S10</h4>
            <br>
        </div>
        <br>
    <div>
            <img src="/img/smart.jpg" alt="smart" width="200">
            <p>$23.200   &nbsp;<strong>5% off</strong></p>
            <h4>SmartTv Samsung 43</h4>
            <br>
        </div>
        <br>
        </section>
        <br>
        <section>       
            <h4>Ofertas</h4>
            <br>
        <div>
            <img src="/img/cafetera.jpg" alt="cafetera" width="200">
            <p>$6.770  &nbsp;<strong>40% OFF</strong></p>
            <h4>Cafetera Moulinex</h4>
            <br>
        </div>
        <br>
    <div>
            <img src="/img/macbook.jpg" alt="macbook" width="200">
            <p>$230.000   &nbsp;<strong>20% off</strong></p>
            <h4>MacBook Pro 2019</h4>
            <br>
        </div>
        <br>
    <div>
            <img src="/img/s10.jpg" alt="s10" width="200">
            <p>$70.500 &nbsp;<strong>10% off</strong></p>
            <h4>Samsung Galaxy S10</h4>
            <br>
        </div>
        <br>
    <div>
            <img src="/img/smart.jpg" alt="smart" width="200">
            <p>$23.200 &nbsp;5% off</p>
            <h4>SmartTv Samsung 43</h4>
            <br>
        </div>
        </section>
    </main>
    <br>
    <footer>
       <h4>Pagá con tarjeta o en efectivo</h4>
       <p>
        Con Mercado Liebre Cash, tenés cuotas 
        sin interés con tarjeta o efectivo en
        puntos de pago. 
        ¡Y siempre es seguro!
        </p> 
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        <br>
    </footer>
</body>
</html>