<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    type="text/css"
    ,
    href="/css/login.css" />
    <title>Registro de Usuario</title>
  </head>
  <body>
    <header>
      <div class="logo">
          <img src="img/mercadoliebre.svg" alt="logo" width="170px">
      </div>
  </header>
    <form action="/Cuenta" method="post" enctype="multipart/form-data">
    <div class="usuario">
    <input type="text" name="Nombre de usuari@" id="Nombre de usuario" placeholder="Nombre de usuario"/>
    <br />
  </div>
<div class="password">
    <input type="password" name="Contraseña" id="Contraseña" placeholder="Escribe tu contraseña" maxlength="10"/>
    <br />
  </div>
<div class="enviar">
    <button type="submit" name="Enviar" id="Enviar"> Enviar</button> 
  </div>
</form>
<footer>
  <i
    class="fa-solid fa-credit-card"
    style="color: #1751b5"></i>
  <h4>Pagá con tarjeta o en efectivo</h4>
  <p>
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
    en puntos de pago. ¡Y siempre es seguro!
  </p>
  <i
    class="fa-solid fa-gift"
    style="color: #1751b5"></i>
  <h4>Envío gratis desde $ 2.500</h4>
  <p>
    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
    de productos. Es un beneficio de Mercado Puntos.
  </p>
  <i
    class="fa-solid fa-user-shield"
    style="color: #1751b5"></i>
  <h4>Seguridad, de principio a fin</h4>
  <p>
    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
    hacer, porque estás siempre protegid@.
  </p>
  <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  <br />
</footer>
<script
  src="https://kit.fontawesome.com/562ce4fe09.js"
  crossorigin="anonymous"></script> 
  <!-- Los scripts siempre deben ser los últimos en cargar, por lo cual los colocamos al final del html -->
</body>
</html>

  </body>
</html>
