<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
  </head>
  <body>
    <h1>Login de Usuario</h1>
    <form action="/Cuenta" method="post" enctype="multipart/form-data">
    <label for="Nombre de usuari@"> Nombre de usuari@:</label>
    <input type="text" name="Nombre de usuari@" id="Nombre de usuari@" />
    <br />
    <label for="Contraseña"> Contraseña:</label>
    <input type="text" name="Contraseña" id="Contraseña" />
    <br />
    <button type="submit" name="Enviar">Enviar</button> 
</form>
  </body>
</html>
